/* Add universal styles */
* {
    box-sizing: border-box;
}

/* Body styles */
body {
    background: white;
    color: black;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    margin:auto;
    width: 85%;
}

/* Change color of text when hovering */
#high-scores:hover {
    cursor: pointer;
    color: purple;
}

/*  header h3 style */
header h3 {
    padding-left: 20px;
    display:inline;
}

/* timer styles */
.time {
    text-align: right;
    display: inline;
    padding-right: 20px;
    color: black;
}

/* box styles and main content */
.box {
    flex-direction: column;
    padding: 20px;
    margin: auto;
    width: 50%;
}

/* header 1 */

h1 {
    color: black;
    font-weight: bold;
}

/* paragraph style */
p {
    color: black;
}

/* Starter styles */
.start {
    align-items: center;
    text-align: center;
}

.start h1, .start p {
    text-align: center;
}

/* questions styles */
.questions {
    align-items: flex-start;
    padding: 40px 20px;
    margin: auto;
    justify-content: flex-start;
}


/* END STYLES */
.end h1, .end p {
    text-align: left;
}

.end input {
    outline: black, thick;
    padding: 5px;
    width: 40%;
    border-width: 2px;
    border-radius: 5px;
}

.end input:focus {
    border: 3px solid green;
}

.on {
    display: flex;
}


.off {
    display: none;
}

#question {
    color: black;
    text-align: left;
    font-weight: bold;
}

#high-score {
    text-align: left;
}

/* Button Styles */
.btn {
    background: hotpink;
    color: black;
    padding: 10px;
    border-radius: 10px;
    border: black;
    box-shadow: 0 4px black;
}

.btn-list {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-gap: 5px;
    margin: 25px 0;
}

.start {
    width: 20%;
    margin-top: 10px;
}

.answerbtn {
    width: 50%;
    text-align: left;
}

.btn:hover {
    background: greenyellow;
    border-radius: 10px;
    cursor: pointer;
}

.btn:active {
    border: none;
    outline: none;
}

/* hidden */
.banner {
    font-size: 30px;
    text-align: center;
    color: gray;
    margin: 0 100px;
}

.banner h2 {
    border-top: 2px solid gray;
    margin: 0 auto;
    text-align: center;
    padding-top: 5px;
}

/* list styles */
ol {
    list-style-type: decimal; 
}

