/* ADD UNIVERSAL STYLES */
* {
    box-sizing: border-box;
}
  
body {
    background: grey;
    color: black;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
  
/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 85%;
}

/* WHEN YOU HOVER OVER HIGH SCORE BOX */
#high-scores:hover {
    cursor: pointer;
    color: hotpink;
}


header h3 {
    padding-left: 20px;
    font-size: 2.0rem;
    display: inline;
}

/* STYLES FOR THE TIMER */
.time {
    font-size: 2.0rem;
    color: black;
    display: inline;
    text-align: right;
    padding-right: 20px;
}

/* MAIN CONTENT */
h1 {
    color: black;
    font-size: 3.0rem;
    font-weight: bold;
}

p {
    color: black;
    font-size: large;
}

.box {
    padding: 20px;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.start {
    align-items: center;
    text-align: center;
}
  
.start h1, .start p {
    text-align: center;
}

.questions {
    align-items: flex-start;
    justify-content: flex-start;
    margin: auto;
    padding: 40px 20px;
}

/* END BOX STYLES */
.end input {
    outline: thick; 
    border-width: 1px;
    padding: 5px;
    width: 40%;
    font-size: large
}

.end input:focus {
    border: 2px solid green;
}

.end h1, .end p {
    text-align: left
}

/* HIDDEN/NOT STYLES */
.on {
    display: flex;
}

.off {
    display: none;
}

#high-score {
    text-align: left;
}

#question {
    color: black;
    font-weight: bold;
    text-align: left;
    font-size: x-large;
}

/*Button Styling */
.btn {
    background: hotpink;
    color: black;
    padding: 10px;
    border-radius: 10px;
    border: black;
    box-shadow: 0 3px black;
    margin-top: 10px;
}

.btn-list {
    display: grid;
    grid-gap: 5px;
    grid-template-rows: repeat(4, auto);
    margin: 15px 0;
}

.btn:active {
    border: none;
    outline: none;
}

.btn:hover {
    background: rgb(0, 255, 0);
    border-radius: 10px;
    cursor: pointer;
}

.btn:focus {
    outline: none;
}


.start {
    width: 25%;
    margin-top: 10px;
}

.answerbtn {
    font-size: large;
    text-align: left;
    width: 50%;
}

/* INCORRECT/CORRECT STYLES */
.tag {
    font-size: 25px;
    color: rgba(0, 0, 0, 0.623);
    margin: 0 100px;
    text-align: center;
    
}

.tag h2 {
    border-top: 2px solid rgba(3, 253, 24, 0.623);
    margin: 0 auto;
    padding-top: 5px;
    text-align: center;
}

/* List for High Scores */
ol {
    list-style-type: number;
}

li:nth-child(odd) {
     background-color: hotpink;
}
